#menu {
    position: fixed;
    top: 0;
    width: 450px;
    height: 100%;
    background-color: #dcdcdc;
    z-index: 1000; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
  
  #menu ul li a {
    color: #fff;
    text-decoration: none;
  }


@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400; 
    src: url('https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2') format('woff2');
  }



.x{
  position: relative; 
  top: 0px; 
  left: 295px; 
  z-index: 2000; 
  font-size: 20px;
  cursor: pointer;
  border: none; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
.x:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}

#conte{
  position: relative;
  left: -450px; 
  transition: left 0.3s ease; 
  z-index: 7000;
  
}
#titulo{
  position: relative; 
  top: 60px; 
  left: -100px; 
  cursor: pointer;
  font-family: system-ui;
  background: #ccc;
  color: #fff;
  background: linear-gradient(90deg,#5b9fe0,#00dfd8);
}

.oculto{
  position: relative; 
  top: 60px; 
  left: -100px; 
  font-size: 12px;
}

.im{
  position: relative; 
  top: 15px; 
  left: -20px; 
  width: 44px; 
  height: 44px; 
  z-index: 3000; 
  border-radius: 8px;
  visibility: hidden;
}

.tn_id{
  position: relative; 
  font-size: 13px;
  left: 80px; 
  top: -110px; 
}
.subtc_id{
  position: relative; 
  font-size: 13px;
  left: 80px; 
  top: -70px; 
}

#id_tn{
  cursor: pointer;
}

#id_tc{
  cursor: pointer;
  position: relative; 
}

.sh{
  position: relative;  
}

.cr{
  position: relative; 
}

